# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [76]:
# Imports
import pandas as pd
from pathlib import Path
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from sklearn.model_selection import train_test_split


from sklearn.datasets import make_blobs
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import OneHotEncoder
import h5py

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
file_path = Path("applicants_data.csv")

applicant_data_df = pd.read_csv(file_path, index_col=False)



# Display sample data
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
DF = applicant_data_df.set_index('EIN')
DF2 = DF.set_index('NAME')
    #['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION',  'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL']]
# Review the DataFrame
DF2.reset_index(drop=True, inplace=True)
DF2.head()
# YOUR CODE HERE

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of the columns with categorical variables
categorical_variables = ['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

# Create a list of categorical variables 
enc = OneHotEncoder(sparse=False)

# Display the categorical variables list
list(DF2.dtypes[DF2.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
encoded_data = enc.fit_transform(DF2[categorical_variables])

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Display sample data
encoded_df.head()

/Users/pdenormandie/opt/anaconda3/envs/dev/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
applicant_data_df2 = applicant_data_df["IS_SUCCESSFUL"]

In [22]:
joined2 = pd.concat([applicant_data_df2, encoded_df], axis=1)

In [23]:
joined2.dtypes.head(10)

IS_SUCCESSFUL             int64
APPLICATION_TYPE_T10    float64
APPLICATION_TYPE_T12    float64
APPLICATION_TYPE_T13    float64
APPLICATION_TYPE_T14    float64
APPLICATION_TYPE_T15    float64
APPLICATION_TYPE_T17    float64
APPLICATION_TYPE_T19    float64
APPLICATION_TYPE_T2     float64
APPLICATION_TYPE_T25    float64
dtype: object

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [27]:
# Define the target set y using the IS_SUCCESSFUL column
X = joined2.drop(columns=["IS_SUCCESSFUL"])
y = joined2["IS_SUCCESSFUL"]
X.head()
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [31]:
# Create the training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 6: Split the features and target sets into training and testing datasets.

In [30]:
# Create the scaler instance
scaler = StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the features data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

114

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [64]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

114

In [65]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [66]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  20

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

20

In [67]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  5

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

5

In [68]:
# Create the Sequential model instance
nn = Sequential()

In [69]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [70]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [71]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [72]:
# Display the Sequential model summary
# YOUR CODE HERE# 
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 20)                2300

 dense_7 (Dense)             (None, 5)                 105

 dense_8 (Dense)             (None, 1)                 6

=================================================================
Total params: 2,411
Trainable params: 2,411
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [73]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["mse"])

# Fit the model
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 881us/step - loss: 1.6843 - mse: 0.7804
Epoch 2/50
804/804 [==============================] - 1s 858us/step - loss: 1.1469 - mse: 0.6565
Epoch 3/50
804/804 [==============================] - 1s 869us/step - loss: 1.1209 - mse: 0.6065
Epoch 4/50
804/804 [==============================] - 1s 856us/step - loss: 0.9967 - mse: 0.5316
Epoch 5/50
804/804 [==============================] - 1s 844us/step - loss: 0.9013 - mse: 0.5080
Epoch 6/50
804/804 [==============================] - 1s 908us/step - loss: 0.8689 - mse: 0.4733
Epoch 7/50
804/804 [==============================] - 1s 868us/step - loss: 0.8658 - mse: 0.4809
Epoch 8/50
804/804 [==============================] - 1s 861us/step - loss: 0.7964 - mse: 0.5723
Epoch 9/50
804/804 [==============================] - 1s 882us/step - loss: 0.7723 - mse: 0.5749
Epoch 10/50
804/804 [==============================] - 1s 901us/step - loss: 0.7678 - mse: 0.5583
Epoch 11/50
804/804 [==============================] - 1s 882us/step - loss: 0.7872 - mse: 0.5621
Epoch 12/50
804/804 [==============================] - 1s 885us/step - loss: 0.7517 - mse: 0.5197
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7482 - mse: 0.5215
Epoch 14/50
804/804 [==============================] - 1s 885us/step - loss: 0.7012 - mse: 0.5500
Epoch 15/50
804/804 [==============================] - 1s 866us/step - loss: 0.7008 - mse: 0.5524
Epoch 16/50
804/804 [==============================] - 1s 874us/step - loss: 0.7021 - mse: 0.6169
Epoch 17/50
804/804 [==============================] - 1s 881us/step - loss: 0.6947 - mse: 0.6814
Epoch 18/50
804/804 [==============================] - 1s 983us/step - loss: 0.7020 - mse: 0.6471
Epoch 19/50
804/804 [==============================] - 1s 922us/step - loss: 0.6689 - mse: 0.6407
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6738 - mse: 0.6292
Epoch 21/50
804/804 [==============================] - 1s 975us/step - loss: 0.6738 - mse: 0.6374
Epoch 22/50
804/804 [==============================] - 1s 878us/step - loss: 0.6677 - mse: 0.6102
Epoch 23/50
804/804 [==============================] - 1s 878us/step - loss: 0.6639 - mse: 0.6232
Epoch 24/50
804/804 [==============================] - 1s 878us/step - loss: 0.6691 - mse: 0.6160
Epoch 25/50
804/804 [==============================] - 1s 887us/step - loss: 0.6704 - mse: 0.5950
Epoch 26/50
804/804 [==============================] - 1s 886us/step - loss: 0.6801 - mse: 0.5888
Epoch 27/50
804/804 [==============================] - 1s 874us/step - loss: 0.6800 - mse: 0.6108
Epoch 28/50
804/804 [==============================] - 1s 896us/step - loss: 0.6815 - mse: 0.6474
Epoch 29/50
804/804 [==============================] - 1s 896us/step - loss: 0.6909 - mse: 0.5782
Epoch 30/50
804/804 [==============================] - 1s 933us/step - loss: 0.6772 - mse: 0.5647
Epoch 31/50
804/804 [==============================] - 1s 913us/step - loss: 0.6751 - mse: 0.5406
Epoch 32/50
804/804 [==============================] - 1s 941us/step - loss: 0.6675 - mse: 0.5153
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6688 - mse: 0.4733
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6746 - mse: 0.4424
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6690 - mse: 0.4251
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6731 - mse: 0.3930
Epoch 37/50
804/804 [==============================] - 1s 943us/step - loss: 0.6708 - mse: 0.4452
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6786 - mse: 0.4755
Epoch 39/50
804/804 [==============================] - 1s 970us/step - loss: 0.6661 - mse: 0.4670
Epoch 40/50
804/804 [==============================] - 1s 913us/step - loss: 0.6782 - mse: 0.4348
Epoch 41/50
804/804 [==============================] - 1s 893us/step - loss: 0.6626 - mse: 0.3917
Epoch 42/50
804/804 [==============================] - 1s 900us/step - loss: 0.6579 - mse: 0.3877
Epoch 43/50
804/804 [==============================] - 1s 932us/step - loss: 0.6618 - mse: 0.3899
Epoch 44/50
804/804 [==============================] - 1s 907us/step - loss: 0.6488 - mse: 0.4123
Epoch 45/50
804/804 [==============================] - 1s 923us/step - loss: 0.6531 - mse: 0.4094
Epoch 46/50
804/804 [==============================] - 1s 938us/step - loss: 0.6363 - mse: 0.3688
Epoch 47/50
804/804 [==============================] - 1s 935us/step - loss: 0.6190 - mse: 0.3843
Epoch 48/50
804/804 [==============================] - 1s 914us/step - loss: 0.6252 - mse: 0.3880
Epoch 49/50
804/804 [==============================] - 1s 919us/step - loss: 0.6335 - mse: 0.4224
Epoch 50/50
804/804 [==============================] - 1s 928us/step - loss: 0.6361 - mse: 0.4051

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [75]:
# Evaluate the model using testing data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display evaluation results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6777 - mse: 0.3063 - 296ms/epoch - 1ms/step
Loss: 0.6776999235153198, Accuracy: 0.3062882423400879

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [77]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [79]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

114

In [80]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [81]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 30

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

30

In [83]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [91]:
# First hidden layer
# YOUR CODE HERE
# Add the first hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Output layer
# YOUR CODE HERE
# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Check the structure of the model
# YOUR CODE HERE
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A1.add(Dense(units=number_output_neurons, activation="linear"))

In [92]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["mse"])

In [93]:
# Fit the model using 50 epochs and the training data
fit_model_A1 =  nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 1.5282 - mse: 0.8395
Epoch 2/50
804/804 [==============================] - 1s 858us/step - loss: 0.9886 - mse: 0.7841
Epoch 3/50
804/804 [==============================] - 1s 926us/step - loss: 0.9597 - mse: 0.7574
Epoch 4/50
804/804 [==============================] - 1s 912us/step - loss: 0.9452 - mse: 0.7503
Epoch 5/50
804/804 [==============================] - 1s 986us/step - loss: 0.9010 - mse: 0.7496
Epoch 6/50
804/804 [==============================] - 1s 973us/step - loss: 0.8446 - mse: 0.8303
Epoch 7/50
804/804 [==============================] - 1s 875us/step - loss: 0.7953 - mse: 0.8512
Epoch 8/50
804/804 [==============================] - 1s 921us/step - loss: 0.7936 - mse: 0.8307
Epoch 9/50
804/804 [==============================] - 1s 894us/step - loss: 0.7759 - mse: 0.7622
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7782 - mse: 0.7437
Epoch 11/50
804/804 [==============================] - 1s 965us/step - loss: 0.7606 - mse: 0.6808
Epoch 12/50
804/804 [==============================] - 1s 989us/step - loss: 0.7604 - mse: 0.6430
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7530 - mse: 0.6046
Epoch 14/50
804/804 [==============================] - 1s 942us/step - loss: 0.7268 - mse: 0.5428
Epoch 15/50
804/804 [==============================] - 1s 998us/step - loss: 0.7235 - mse: 0.5399
Epoch 16/50
804/804 [==============================] - 1s 926us/step - loss: 0.7218 - mse: 0.5538
Epoch 17/50
804/804 [==============================] - 1s 956us/step - loss: 0.7200 - mse: 0.5951
Epoch 18/50
804/804 [==============================] - 1s 898us/step - loss: 0.7082 - mse: 0.5767
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7152 - mse: 0.5894
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7099 - mse: 0.5401
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7076 - mse: 0.5069
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7186 - mse: 0.4776
Epoch 23/50
804/804 [==============================] - 1s 975us/step - loss: 0.7091 - mse: 0.4468
Epoch 24/50
804/804 [==============================] - 1s 885us/step - loss: 0.7099 - mse: 0.4266
Epoch 25/50
804/804 [==============================] - 1s 876us/step - loss: 0.7074 - mse: 0.4174
Epoch 26/50
804/804 [==============================] - 1s 924us/step - loss: 0.7116 - mse: 0.4145
Epoch 27/50
804/804 [==============================] - 1s 868us/step - loss: 0.7040 - mse: 0.4142
Epoch 28/50
804/804 [==============================] - 1s 848us/step - loss: 0.7027 - mse: 0.4283
Epoch 29/50
804/804 [==============================] - 1s 885us/step - loss: 0.7073 - mse: 0.4269
Epoch 30/50
804/804 [==============================] - 1s 899us/step - loss: 0.7028 - mse: 0.4033
Epoch 31/50
804/804 [==============================] - 1s 893us/step - loss: 0.6999 - mse: 0.3766
Epoch 32/50
804/804 [==============================] - 1s 928us/step - loss: 0.6982 - mse: 0.3635
Epoch 33/50
804/804 [==============================] - 1s 885us/step - loss: 0.6935 - mse: 0.3599
Epoch 34/50
804/804 [==============================] - 1s 898us/step - loss: 0.7057 - mse: 0.3662
Epoch 35/50
804/804 [==============================] - 1s 908us/step - loss: 0.7078 - mse: 0.3658
Epoch 36/50
804/804 [==============================] - 1s 900us/step - loss: 0.6966 - mse: 0.3504
Epoch 37/50
804/804 [==============================] - 1s 914us/step - loss: 0.6905 - mse: 0.3447
Epoch 38/50
804/804 [==============================] - 1s 922us/step - loss: 0.6899 - mse: 0.3487
Epoch 39/50
804/804 [==============================] - 1s 906us/step - loss: 0.6884 - mse: 0.3412
Epoch 40/50
804/804 [==============================] - 1s 915us/step - loss: 0.6884 - mse: 0.3481
Epoch 41/50
804/804 [==============================] - 1s 984us/step - loss: 0.6960 - mse: 0.3424
Epoch 42/50
804/804 [==============================] - 1s 929us/step - loss: 0.6885 - mse: 0.3480
Epoch 43/50
804/804 [==============================] - 1s 933us/step - loss: 0.7009 - mse: 0.3411
Epoch 44/50
804/804 [==============================] - 1s 929us/step - loss: 0.6907 - mse: 0.2933
Epoch 45/50
804/804 [==============================] - 1s 935us/step - loss: 0.6934 - mse: 0.3030
Epoch 46/50
804/804 [==============================] - 1s 961us/step - loss: 0.6920 - mse: 0.3011
Epoch 47/50
804/804 [==============================] - 1s 933us/step - loss: 0.6893 - mse: 0.3089
Epoch 48/50
804/804 [==============================] - 1s 927us/step - loss: 0.6896 - mse: 0.3105
Epoch 49/50
804/804 [==============================] - 1s 940us/step - loss: 0.6911 - mse: 0.3236
Epoch 50/50
804/804 [==============================] - 1s 937us/step - loss: 0.6893 - mse: 0.3322

#### Alternative Model 2

In [95]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

114

In [96]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 4

In [97]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 12

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

12

In [98]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [99]:
# First hidden layer
# YOUR CODE HERE
# Add the first hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Output layer
# YOUR CODE HERE
# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Check the structure of the model
# YOUR CODE HERE
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A2.add(Dense(units=number_output_neurons, activation="linear"))

In [100]:
# Compile the Sequential model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["mse"])

In [101]:
# Fit the model
# Fit the model using 50 epochs and the training data
fit_model_A2 =  nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7259 - mse: 0.2694
Epoch 2/50
804/804 [==============================] - 1s 976us/step - loss: 0.6145 - mse: 0.2247
Epoch 3/50
804/804 [==============================] - 1s 887us/step - loss: 0.5981 - mse: 0.2204
Epoch 4/50
804/804 [==============================] - 1s 866us/step - loss: 0.5941 - mse: 0.2112
Epoch 5/50
804/804 [==============================] - 1s 864us/step - loss: 0.5937 - mse: 0.2115
Epoch 6/50
804/804 [==============================] - 1s 870us/step - loss: 0.5905 - mse: 0.2127
Epoch 7/50
804/804 [==============================] - 1s 857us/step - loss: 0.5862 - mse: 0.2119
Epoch 8/50
804/804 [==============================] - 1s 881us/step - loss: 0.5845 - mse: 0.2113
Epoch 9/50
804/804 [==============================] - 1s 875us/step - loss: 0.5819 - mse: 0.2076
Epoch 10/50
804/804 [==============================] - 1s 878us/step - loss: 0.5824 - mse: 0.2093
Epoch 11/50
804/804 [==============================] - 1s 865us/step - loss: 0.5851 - mse: 0.2111
Epoch 12/50
804/804 [==============================] - 1s 892us/step - loss: 0.5853 - mse: 0.2127
Epoch 13/50
804/804 [==============================] - 1s 883us/step - loss: 0.5908 - mse: 0.2138
Epoch 14/50
804/804 [==============================] - 1s 884us/step - loss: 0.5810 - mse: 0.2120
Epoch 15/50
804/804 [==============================] - 1s 896us/step - loss: 0.5828 - mse: 0.2165
Epoch 16/50
804/804 [==============================] - 1s 891us/step - loss: 0.5812 - mse: 0.2154
Epoch 17/50
804/804 [==============================] - 1s 919us/step - loss: 0.5811 - mse: 0.2122
Epoch 18/50
804/804 [==============================] - 1s 892us/step - loss: 0.5772 - mse: 0.2172
Epoch 19/50
804/804 [==============================] - 1s 905us/step - loss: 0.5763 - mse: 0.2161
Epoch 20/50
804/804 [==============================] - 1s 906us/step - loss: 0.5765 - mse: 0.2117
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5708 - mse: 0.2054
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - mse: 0.2062
Epoch 23/50
804/804 [==============================] - 1s 904us/step - loss: 0.5682 - mse: 0.2068
Epoch 24/50
804/804 [==============================] - 1s 947us/step - loss: 0.5688 - mse: 0.2079
Epoch 25/50
804/804 [==============================] - 1s 904us/step - loss: 0.5726 - mse: 0.2072
Epoch 26/50
804/804 [==============================] - 1s 939us/step - loss: 0.5613 - mse: 0.2037
Epoch 27/50
804/804 [==============================] - 1s 900us/step - loss: 0.5610 - mse: 0.2031
Epoch 28/50
804/804 [==============================] - 1s 956us/step - loss: 0.5642 - mse: 0.2043
Epoch 29/50
804/804 [==============================] - 1s 916us/step - loss: 0.5765 - mse: 0.1989
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5749 - mse: 0.2005
Epoch 31/50
804/804 [==============================] - 1s 949us/step - loss: 0.5775 - mse: 0.2016
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5720 - mse: 0.1965
Epoch 33/50
804/804 [==============================] - 1s 987us/step - loss: 0.5636 - mse: 0.1969
Epoch 34/50
804/804 [==============================] - 1s 915us/step - loss: 0.5643 - mse: 0.2002
Epoch 35/50
804/804 [==============================] - 1s 930us/step - loss: 0.5690 - mse: 0.2009
Epoch 36/50
804/804 [==============================] - 1s 914us/step - loss: 0.5665 - mse: 0.2006
Epoch 37/50
804/804 [==============================] - 1s 934us/step - loss: 0.5744 - mse: 0.2023
Epoch 38/50
804/804 [==============================] - 1s 922us/step - loss: 0.5774 - mse: 0.2034
Epoch 39/50
804/804 [==============================] - 1s 917us/step - loss: 0.5943 - mse: 0.2365
Epoch 40/50
804/804 [==============================] - 1s 926us/step - loss: 0.5750 - mse: 0.2292
Epoch 41/50
804/804 [==============================] - 1s 947us/step - loss: 0.5661 - mse: 0.2410
Epoch 42/50
804/804 [==============================] - 1s 931us/step - loss: 0.5645 - mse: 0.2497
Epoch 43/50
804/804 [==============================] - 1s 930us/step - loss: 0.5648 - mse: 0.2453
Epoch 44/50
804/804 [==============================] - 1s 979us/step - loss: 0.5659 - mse: 0.2435
Epoch 45/50
804/804 [==============================] - 1s 959us/step - loss: 0.5715 - mse: 0.2372
Epoch 46/50
804/804 [==============================] - 1s 955us/step - loss: 0.5839 - mse: 0.2312
Epoch 47/50
804/804 [==============================] - 1s 946us/step - loss: 0.5654 - mse: 0.2355
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5638 - mse: 0.2360
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5629 - mse: 0.2350
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5786 - mse: 0.2392

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [102]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6777 - mse: 0.3063 - 178ms/epoch - 665us/step
Loss: 0.6776999235153198, Accuracy: 0.3062882423400879

In [103]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.7193 - mse: 0.3166 - 252ms/epoch - 940us/step
Loss: 0.7192848324775696, Accuracy: 0.3165658712387085

In [104]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5899 - mse: 0.2288 - 357ms/epoch - 1ms/step
Loss: 0.5899114012718201, Accuracy: 0.228759303689003

### Step 3: Save each of your alternative models as an HDF5 file.

In [105]:
# Set the file path for the first alternative model
# Set the model's file path
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [106]:
# Set the file path for the first alternative model
# Set the model's file path
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)